<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="bodyContainer">


        <!-- <div class="navbar">
        <div class="container">
            <a href="index.html">Co2Tracker</a>
            <nav>
                <ul class="navigation">
                    <li><a href="search.html">Search</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div> -->

        <div class="navbar">
            <div class="container">
                <a class="home" href="index.html">Co2Tracker</a>
                <nav>
                    <ul class="navigation">
                        <li><a href="search.html">Search</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="contacimage">
		<img src="{{ url_for('static', filename='images/co2_image_3.png') }}" alt="Contact us image">
        </div>
        <div class="About-description">
            <p class="head">About us</p>
            <p>Welcome to CO2 Emission Tracker, your go-to platform for monitoring
                global atmospheric CO2 levels. Our mission is to provide accessible,
                real-time data on CO2 concentrations to help raise awareness
                about climate change and its impact on our planet.
            </p>
        </div>

        <div class="ourstory">
            <p class="head">Our story</p>
            <p>
                Founded by Oladapo Odedeyi Olayinka, a passionate microbiologist and
                environmental enthusiast, CO2 EmissionTracker was born out
                of the need to make critical environmental data available to everyone.
                With a background in Science Laboratory Technology and experience in various tech
                projects, Oladapo combined his expertise to develop a platform that empowers
                individuals, researchers,and organizations to track CO2 emissions effortlessly.
            </p>
        </div>

        <div class="whatwedo">
            <p class="head">What we do</h2>
            <p>
                At CO2 Emission Tracker, we aggregate and visualize CO2 data from reliable
                sources to help you understand the trends and cycles of atmospheric CO2 levels.
                Our platform offers a user-friendly interface for browsing, comparing, and
                analyzing CO2 data over time, whether you’re interested in the latest
                readings or historical trends.
            </p>
        </div>

        <div class="corevalues">
            <p class="head">Core values</h2>
            <p>
                Transparency: We believe in open access to environmental data.
                Sustainability: Our work is driven by a commitment to preserving the planet.
                Innovation: We continuously strive to improve our platform and offer the most accurate and up-to-date
                data.
            </p>
        </div>

        <div class="Ourfuturegoals">
            <p class="head">Our future goals</h2>
            <p>
                As we grow, we aim to expand our data offerings and include more environmental
                metrics. We also plan to develop new tools and features that will make it easier
                for users to interact with the data and gain meaningful insights.
            </p>
        </div>

        <!-- <div class="testimonial-container">
            
        <div class="card1">
            <img src="images/my_image.jpeg" alt="person1">
            <blockquote class="card1Quote">"This is an awesome platform, this helped me with my PHD Project"</blockquote>
            <cite>- Diana Dove</cite>
        </div>
    </div> -->


        <div class="meetfounder">
            <p class="head">Meet the founder</p>
            <div class="testimonial-container">


                <div class="card1">
			<img src="{{ url_for('static', filename='images/my_image.jpeg') }}" alt="founder">
                    <h3>
                        Oladapo Odedeyi Olayinka
                    </h3>
                    <p>Science Laboratory Technologist,
                        Mirobiologist,
                        Software Engineer</p>

                </div>
            </div>
        </div>

        <div class="aboutfounder">
            <p>Oladapo Odedeyi Olayinka, the driving force behind CO2 Emission Tracker, has a deep understanding of
                environmental science and technology. With a history of working on various tech and environmental
                projects,
                Oladapo is dedicated to making a difference through innovative solutions.</p>
        </div>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="footericon">
                <ul class="navigation">
                    <a href="index.html">C0<sub>2</sub>Tracker</a>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="socialicons">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>

            <div class="footerbottom">
                <p class="policy">Privacy: this web application utilizes an external API to fetch daily C0<sub>2</sub>
                    records, providing
                    accurate and up-to-date data for tracking and analysis
                </p>
                <p>Copyright &copy;2024; Designed by <span class="designer">Oladapo Odedeyi Olayinka</span></p>
            </div>
        </div>
        <div class="footerBorder">

        </div>
    </footer>

    <script "{{ url_for('static', filename='js/main.js') }}"> </script>
</body>

</html>
