<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Contact us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="bodyContainer">
    <div class="navbar">
        <div class="container">
            <a class="home" href="index.html">Co2Tracker</a>
            <nav>
                <ul class="navigation">
                    <li><a href="search.html">Search</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="contacimage">
	    <img src="{{ url_for('static', filename='images/co2_image_3.png') }}" alt="Contact us image">
    </div>
    <div class="contact-description" style="text-align: center">
        <h2 >Contact us</h2>
        <p>we'd love to hear from you! whether you have questions about our data, suggestions for new features, or just want to say hello, feel free to reach out to us.</p>
    </div>

    <div class="socialicons">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
    <section class="contact-form">
        <form class="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>
            
            <button type="submit">Send</button>
          </form>
    </section>
</div>
<footer>
    <div class="footerContainer">
        <div class="footericon">
            <ul class="navigation">
                <a href="index.html">C0<sub>2</sub>Tracker</a>
                <li><a href="search.html">Search</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="socialicons">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>

        <div class="footerbottom">
            <p class="policy">Privacy: this web application utilizes an external API to fetch daily C0<sub>2</sub>
                records, providing
                accurate and up-to-date data for tracking and analysis
            </p>
            <p>Copyright &copy;2024; Designed by <span class="designer">Oladapo Odedeyi Olayinka</span></p>
        </div>
    </div>
    <div class="footerBorder">

    </div>
</footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"> </script>
</body>
</html>
